<nz-page-header class="site-page-header" nzBackIcon nzTitle="افزودن محصول">
    <nz-page-header-extra>
        <!-- <nz-space>
            <a class="btn btn-success" routerLink="/products/add">افزودن</a>
        </nz-space> -->
    </nz-page-header-extra>
</nz-page-header>

<form nz-form [nzLayout]="'horizontal'" [formGroup]="productForm">
    <nz-form-item>
        <nz-form-control nzErrorTip="">
            <nz-input-group>
                <input formControlName="title" nz-input placeholder="عنوان" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="">
            <nz-input-group>
                <input formControlName="description" nz-input placeholder="شرح" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button (click)="save()" nz-button nzType="primary">ذخیره</button>
        </nz-form-control>
    </nz-form-item>
</form>