<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink="/">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>پنل ادمین</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            @for (item of menuItems; track $index) {
            <li nz-submenu [nzOpen]="false" [nzTitle]="item.title" [nzIcon]="item.icon || null">
                <ul>
                    @for (item of item.children; track $index) {
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="item.link">{{item.title}}</a>
                    </li>
                    }
                </ul>
            </li>
            }

        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <div nz-flex nzJustify="space-between" nzAlign="center">
                    <div class="header-trigger" (click)="isCollapsed = !isCollapsed">
                        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-fold' : 'menu-unfold'"></span>
                    </div>
                    <div>
                        <a routerLink="/panel">{{profile.name}} - {{profile.role}}</a>
                    </div>

                    <nz-avatar [nzSrc]="profile.avatar" nzSize="large" nzIcon="user" nz-popover
                        [nzPopoverTitle]="profile.name" nzPopoverPlacement="bottomLeft" [nzPopoverVisible]="isPopover"
                        [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"
                        (nzPopoverVisibleChange)="isPopover = !isPopover" [nzPopoverArrowPointAtCenter]="false">
                    </nz-avatar>
                </div>
            </div>
            <ng-template #contentTemplate>
                <div>
                    <p><a [routerLink]="['/panel/users/edit',profile.id]">ویرایش</a></p>
                    <p><a routerLink="/panel/profile/loguot">خروج</a></p>
                </div>
            </ng-template>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>

</nz-layout>