<form nz-form nzLayout="horizontal" [formGroup]="customForm">
    @for (item of formItems; track $index) {
    <app-input [formGroup]="customForm" [formItem]="item" [formItemValue]="model ? model[item.name] : ''"
        [clear]="clear"></app-input>
    }

    <nz-form-item>
        <nz-form-control>
            <button [nzLoading]="loading" [disabled]="loading" nz-button (click)="_save()"
                nzType="primary">{{buttonName}}</button>
        </nz-form-control>
    </nz-form-item>
</form>