<nz-table nzBordered [nzLoading]="loading" [nzData]="data" [nzFrontPagination]="false" [nzTotal]="total"
    [nzPageIndex]="pageIndex" [nzPageSizeOptions]="[10,20,30,100]" nzShowSizeChanger [nzPageSize]="pageSize"
    (nzPageSizeChange)="_changeSize($event)" (nzPageIndexChange)="_changePage($event)">
    <thead>
        <tr>
            @for (col of columns; track $index) {
            <th>
                <app-table-head [col]="col" (getList)="getList.emit()"></app-table-head>
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @if(data.length > 0){
        @for (item of data; track item._id) {
        <tr>
            @for (col of columns; track $index) {
            <td [style.width]="col.width">
                <app-table-cell [row]="item" [col]="col" (remove)="_remove($event)"
                    (update)="_update($event)"></app-table-cell>
            </td>
            }
        </tr>
        }
        }
    </tbody>
</nz-table>