<nz-table
    [nzLoading]="loading"
    [nzData]="items"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="size"
    nzOuterBordered
    [nzPageSizeOptions]="[10,20,30,100]"
    nzShowSizeChanger
    (nzPageIndexChange)="changePage($event)"
    (nzPageSizeChange)="changeSize($event)"
    >
    <thead>
        <tr>
            <th>ID</th>
            <th>
                عنوان <span (click)="titleSearchShow = !titleSearchShow" nz-icon nzType="filter" nzTheme="outline"></span>
                <input [class]="{'d-none':!titleSearchShow}" #searchInput  nz-input placeholder="" type="text" />
            </th>
            <th>برند</th>
            <th>دسته</th>
            <th>تصویر</th>
            <th>قیمت</th>
            <th>موجود</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track item.id) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.category}}</td>
            <td class="td-img">
                <img [src]="item.thumbnail" >
            </td>
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>
            <td>
                <span nz-icon nzType="edit" nzTheme="outline"></span>
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </td>
        </tr>
        }

    </tbody>
</nz-table>
